body {
  background: linear-gradient(
    72deg,
    rgb(44, 222, 242) 0%,
    rgb(156, 43, 171) 35%,
    rgb(39, 43, 44) 100%
  );
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.main img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
:hover img {
  filter: grayscale(0);
}

.secimgimg {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}
.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border: solid 2px #000;
  box-shadow: 0 3px 60px -10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Open Sans", sans;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  color: #ffffff;
  font-family: "Open Sans", sans;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.service-details {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.service-details img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
  margin-left: 4%;
}

.service-details:hover img {
  opacity: 0.4 !important;
}

.service-details .service-hover-text h3 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 300;
  font-family: "Open Sans";
}

.service-details .service-hover-text h4 {
  padding: 0px;
  padding-bottom: 13px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 3px;
  width: 90%;
  font-family: "Open Sans";
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
  padding-top: 13px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Open Sans";
}

.service-details .service-hover-text {
  width: 42%;
  height: 89%;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 3% 4%;

  color: rgba(255, 255, 255, 1);
  /*	display: none;*/
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
  display: block !important;
  color: rgb(94, 0, 111);
  background: rgba(224, 216, 216, 0.85);
  left: 0px;
  top: 0px;
}

.service-details .service-text {
  width: 50%;
  height: inherit;
  float: left;
}

.service-details .service-text p {
  padding: 100px 0px 0px 20px;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
}

.service-details .service-text p span {
  font-family: "Open Sans" !important;
}

.service-details .service-text a,
.service-white .service-text {
  padding: 0px 0px 0px 20px;
  font-size: 14px !important;
  color: #ff5a22 !important;
  font-family: "Open Sans" !important;
  text-decoration: none !important;
}

.service-details .service-text {
  float: left;
}

.service-white p {
  color: #000 !important;
}

.imgg {
  margin-left: 0%;
}

body {
  margin: 1rem;
  font-family: "Vollkorn SC", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.93);
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  transform: scale(1.3);
}
.col-50 {
  width: 50%;
}
.imgbanner {
  width: 100%;
}
.sec2 {
  width: 100px;
  height: 100px;
  position: absolute;
}
.navbar-brand {
  font-size: 6vmin;
  font-weight: 600;
  padding-left: 2rem;
  letter-spacing: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10vmin;
  padding: 1rem 0;
  border: solid 2px #000;
  box-shadow: 0 3px 60px -10px rgba(255, 255, 255, 0.3);
  margin-top: 2%;
}

.navbar-menu {
  display: none;
}

.navbar-list {
  display: flex;
  flex-basis: 75%;
  justify-content: flex-end;
  align-items: center;
}

.navbar-list li {
  margin-right: 2rem;
  letter-spacing: 2px;
}

input {
  height: 35px;
  border-radius: 50px;
  border: solid 1px rgb(224, 224, 224);
  padding: 0.5rem;
  max-width: 9.3rem;
}

@media (max-width: 1080px) {
  .navbar-list li {
    margin-right: 1rem;
  }
}

@media (max-width: 920px) {
  .navbar-list {
    display: none;
  }

  .navbar-menu {
    display: block;
  }
}

@media (max-width: 520px) {
  .navbar-brand {
    letter-spacing: 0.5rem;
    padding-left: 0;
    font-weight: 400;
  }

  .fa-hamburger {
    font-size: 6.5vmin;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box;
}
.logo {
  width: 100%auto;
  height: 100px;
}

.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 50%;
  margin-top: 100px;
}
.second {
  border: solid 2px #000;
  box-shadow: 0 3px 60px -10px rgba(0, 0, 0, 0.3);
}
/* calenar */
/* .calendar html{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}
.calendar * {
  box-sizing: border-box;
}

.calendar ul {
  list-style-type: none;
}

.calendar body {
  font-family: Verdana, sans-serif;
}

.calendar .cal-body {
  display: flex;
  flex-direction: row-reverse;
}

.calendar .cal-data {
  width: 39%;
}

.calendar .month {
  padding: 10px 10px;
  width: 10%;
  background: #d75027;
  text-align: center;
}

.calendar .month p {
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 4px;
}

.calendar .month ul {
  margin: 0;
  padding: 0;
}

.calendar .month ul li {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
} */
/* }

.calendar .month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.calendar .month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.calendar .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ce7256;
}

.calendar .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #ffe5e5;
  text-align: center;
}

.calendar .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.calendar .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  color: #777;
  margin-left: 3px;
}

.calendar .active {
  padding: 5px;
  background: #d75027;
  color: white !important
} */
/* Add media queries for smaller screens */

/* @media screen and (max-width:720px) {
  .weekdays li,
  .days li {
      width: 12.1%;
  }
}


@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
      width: 12.5%;
  }
  .days li .active {
      padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
      width: 12.2%;
  }
}
 *