*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(/final/img/244670609_4256425644486160_945245480076098881_n.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
.nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
}
p{
    color: #fff;
    font-size: 30px;
    line-height: 15px;
   
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 40%;
    height: 380px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(./img/location.jpg);
    background-position: center;
    background-size: cover;
    transform: transform 0.5s;
}
@media only screen and (max-width: 1440px) {
    .card{
        width: 40%;
    }
    .rame{
        margin-top: 200px;
    }
  }
  @media only screen and (max-width: 1240px) {
    .card{
        width: 100%;
    }
    .rame{
        margin-top: 20vh;
    }
  }
  @media only screen and (max-width: 700px) {
    .card{
        width: 100%;
    }
    .rame{
        margin-top: 20vh;
    }
    .col{
        width: 100%;
    }
  }
  
  
  
.card1{
    background-image: url(/final/img/location.jpg);
}
.card2{
    background-image: url(/final/img/interier.jpg);
}
.card3{
    background-image: url(/final/img/interier2.jpg);
}
.card4{
    background-image: url(/final/img/team.jpg);
}

.card:hover{
    transform:translateY(-10px)
}
h2{
    color: #fff;
    text-shadow: 0,0,5px #999;
}
.card p{
    text-shadow: 0,0,5px #000;
    font-size: 8px;
}